<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>adicionar pessoa</title>
</head>
<body>
    <form id = "form" action="/login" method="get">
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">projeto</span>
            </div>
            <input type="text" class="form-control" name="projeto" value="<%= projeto_id %>" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
        </div>

    </form>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + adicionar pessoa
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Projeto id: <%= projeto_id %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="email">email da pessoa: </label>
                    <input type="email" name="nome" id="email"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fechar</button>
                    <button type="button" class="btn btn-primary" onclick="addicionar()" data-bs-dismiss="modal">adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
      let pessoas = [];

        function addicionar(){
          const email = document.getElementById("email").value
          if(email !== "")
          {
            pessoas.push(email)
            colocarTela()
          }
        }

        function retirar(email) {

          for( var i = 0; i < pessoas.length; i++){
            if ( pessoas[i] === email) {
              pessoas.splice(i, 1);
              colocarTela()
              break
            }
          }
        }
        function colocarTela()
      {
        const form = document.getElementById("form")
        form.innerHTML = `<div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">projeto</span>
            </div>
            <input type="text" class="form-control" name="projeto" value="<%= projeto_id %>" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>

        </div>`
        for (let i = 0; i < pessoas.length; i++) {
          form.innerHTML += `<div class="input-group mb-3">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="retirar('${pessoas[i]}')">x</button>
            </div>
            <input type="text" class="form-control" name="email" value="${pessoas[i]}" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>

            </div>`
        }
        form.innerHTML += `<input type="submit" value="salvar">`
      }
    </script>

</body>
</html>